/*---------
    main
    ----------*/

main {
    padding: var(--padding-layout);
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    justify-content: space-between;
}

.form {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1.5rem;
}

.image {
    display: flex;
    height: 6rem;
    gap: 1rem;
}

.show {
    width: 5rem;
    border-radius: 10px;
    text-align: center;
    background-color: black;
    color: wheat;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show img {
    height: 100%;
}

.add-img {
    width: 5rem;
    padding: 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.356);
    color: wheat;
    color: rgb(255, 255, 255);
    font-size: 5rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: column;
}

.row label {
    margin: 0rem 1rem;
    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
    color: #000000;
}

.row input,
.row select {
    background: #EBEAEF;
    border-radius: 5px;
    width: 100%;
    border: none;
    padding: 1rem;
}

.double {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}

.row .sub {
    width: 100%;
}

.row .age {
    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    color: #000000;
}

.box-container {
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    flex-direction: row;
}

.row .box {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.row .box input {
    width: 20px;
}

textarea {
    border: none;
    resize: vertical;
    background: #EBEAEF;
    border-radius: 5px;
    padding: 1rem;
}

.count {
    text-align: end;
    padding: 0.5rem 1rem;
}

.phone {
    display: flex;
    flex-direction: row;
    background: #EBEAEF;
    border-radius: 5px;
}

.phone button {
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    padding: 5px;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions button.publish {
    border: none;
    padding: 0.5rem 2rem;
    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    color: #FFFFFF;
    background: #333A59;
    border-radius: 5px;
}

.actions button.preview {
    background-color: transparent;
    border: none;
    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    color: #333A59;
}