/*---------
    main
    ----------*/

main {
    padding: var(--padding-layout);
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    justify-content: space-between;
}

main .image {
    position: relative;
    width: 100%;
    background: #F9E3D2;
    border-radius: 15px;
}

main .image .back {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

main .image .pic {
    width: 100%;
}

main .details {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main .details h2 {
    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.135em;
    color: #000000;
    mix-blend-mode: normal;
}

main .details h3 {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.135em;
    color: #000000;
    mix-blend-mode: normal;
}

main .details h4 {
    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 0.08em;
    color: #000000;
}

main .bubbles {
    display: flex;
    justify-content: space-between;
}

main .bubbles span {
    padding: 0.5em 2em;
    border-radius: 5px;
    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
}

.bubbles .age,
.bubbles .weight,
.bubbles .color {
    background: #000000;
    color: #FFFFFF;
}

.bubbles .gender {
    background: #D9E2F5;
    color: #3A78E0;
}

.details .bio {
    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 11px;
    letter-spacing: 0.08em;
    color: #000000;
}

.details .contact {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 9px;
    color: #000000;
}

main .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .actions .message button {
    padding: 1rem 3rem;
    border: none;
    background: #333A5A;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 9px;
    color: #FFFFFF;
}