/*---------
    main
    ----------*/
main {
  padding: calc(var(--padding-layout) - 1rem);
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  justify-content: space-between;
  padding: 1rem;
  border-radius: 25px;
  min-height: 100%;
  padding-bottom: 4rem;
}
main .image {
  position: relative;
  width: 100%;
  background: #F9E3D2;
  border-radius: 15px;
  overflow: hidden;
}
main .image .back {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 99;
}
main .image .pic {
  width: 100%;
}
main .details {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
main .details h2 {
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.135em;
  color: #000000;
  mix-blend-mode: normal;
}
main .details h3 {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.135em;
  color: #000000;
  mix-blend-mode: normal;
}
main .details h4 {
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  letter-spacing: 0.08em;
  color: #000000;
}
main .details .bio {
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  letter-spacing: 0.08em;
  color: #000000;
}
main .details .contact {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  color: #000000;
  display: flex;
  align-items: center;
}
main .bubbles {
  display: flex;
  justify-content: space-between;
}
main .bubbles span {
  padding: 0.5em 2em;
  border-radius: 5px;
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
}
main .bubbles .age, main .bubbles .weight, main .bubbles .color {
  background: #000000;
  color: #FFFFFF;
}
main .bubbles .gender {
  background: #D9E2F5;
  color: #3A78E0;
}
main .actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .actions .message {
  display: flex;
  gap: 0.5rem;
}
main .actions .message img {
  filter: invert(100%);
}
main .actions .message button {
  padding: 1rem;
  border: none;
  background: #333A5A;
  border-radius: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  color: #FFFFFF;
}
main .actions .message button:last-of-type {
  padding: 1rem 3rem;
}

.pet-container {
  background-color: white;
  border-radius: 15px;
  padding: 5px;
}

/*-----------
    Caroussel
    ----------*/
.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  position: absolute;
  opacity: 0;
  transition: opacity 0.6s ease-out;
  display: flex;
  justify-content: center;
  height: 40rem;
}

.carousel-item img {
  display: block;
  height: auto;
  max-width: 100%;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.carousel-bullet {
  cursor: pointer;
  display: inline-block;
  width: 90px;
  height: 5px;
  background-color: white;
  opacity: 0.5;
  border-radius: 56px;
}

.carousel-bullet:hover {
  background-color: white;
  opacity: 1;
  transition: 0.5s;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet {
  background-color: white;
  opacity: 1;
  transition: 0.5s;
}

#title {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgb(255, 255, 255);
  font-family: "Open Sans", sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}
