.card {
    width: 100%;
    border-radius: 2rem;
    margin-bottom: 3rem;
    overflow: hidden;
    background-color: var(--color-secondary);

    .card-top {
        position: relative;
        border-radius: 2rem;

        .save {
            position: absolute;
            top: 1rem;
            right: 1rem;
        }

        .images {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            width: 100%;
            height: 14rem;
            flex-direction: column;
            overflow: hidden;
            border-radius: 20px;
            img {
                width: 100%
            }
        }

        .name {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            padding: 0.5rem;
            background: rgba(51, 58, 90, 0.5);
            border-radius: 0px 0px 100px 100px;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            color: #FFFFFF;
        }
    }

    .details  {
        display: flex;
        gap: 1rem;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1rem 1.5rem;

        .breed {
            flex: auto;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            color: #8F8989;
        }

        .location {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            width: 100%;
            font-style: normal;
            font-weight: 300;
            font-size: 10px;
            color: rgba(0, 0, 0, 0.7);
        }

        .age {
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            color: #000000;
        }

        .price {
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            color: #000000;
        }

    }

    .gender {
        padding: .7rem 2rem;
        border-radius: 25px;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;

        &.male {
            background: #D9E2F5;
            color: #3A78E0;
        }

        &.female {
            background: #FFD1E7;
            color: #F364A9;
        }
    }
}

