/*---------
    main
    ----------*/

main {
    padding: var(--padding-layout);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;

    .top {
        align-items: unset;
    }

    a {
        text-decoration: none;
        text-align: center;
    }
}

h3 {
    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    color: #333A5A;
}

form {
    background-color: #fff;
    border-radius: 10px;

    .top {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    input {
        border: 1px solid #323958;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 0.5rem 1rem;
    }

    .input {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;

        input {
            width: 100%;
        }
    }

    .image {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: space-between;

        label {
            background: #333A5A;
            border-radius: 5px;
            color: white;
            font-family: Archivo;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 11px;
            color: #FFFFFF;
            padding: 0.5rem 1rem;
        }
    }

    .img {
        width: 50px;
        height: 50px;
        max-width: 50px;
        max-height: 50px;
        background-color: orange;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
            width: 100%;
        }
    }

    #image {
        border: none;
    }

    button {
        background: #333A5A;
        border-radius: 0px 0px 15px 15px;
        font-family: Archivo;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 16px;
        width: 100%;
        border: none;
        margin-top: 2rem;
        padding: 0.5rem 1rem;
        color: #FFFFFF;
    }
}

.reset {
    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    color: #333A5A;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: none;
    background-color: transparent;
}

.delete {
    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    color: #D11414;
    border: none;
    background-color: transparent;
}


/*---------
    modal
    --------*/
.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #0000007d;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);

    .layer {
        width: 100%;
        height: 100%;
        background: transparent;
        position: absolute;
        top: 0;
        left: 0;
    }

    .container {
        background-color: #EBEAEF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 5px 16px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        padding: 2rem;
        width: 80%;
        margin: auto;
    }

    form {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 2rem;
        background-color: transparent;

        button {
            margin-left: 2rem;
            border: none;
            border-radius: 5px;
            padding: 0.5rem 1rem;
            color: white;
            font-family: inherit;

            &[type="submit"] {
                background-color: crimson;
            }

            &[type="submit"]:disabled {
                background-color: rgb(90, 22, 35);
                color: rgba(255, 255, 255, 0.3);
            }

            &[type="button"] {
                background-color: #333A59;
            }

        }
    }

    p {
        font-size: 1.2rem;
        margin-top: 2rem;
    }

    span {
        background-color: khaki;
        color: #333A59;
        padding: 0.1rem 0.5rem;
        border-radius: 2px;
    }

    input {
        border: none;
        border-radius: 5px;
        width: 100%;
        font-size: 1.5rem;
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        font-family: inherit;
    }

}
