/*---------
    main
    ----------*/

main {
    /*padding: calc(var(--gap) - 1rem);*/
    padding: var(--padding-layout);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;

    .top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h5 {
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 33px;
            color: #31334E;
        }

        .open-filter {
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 33px;
            color: #000000;
            cursor: pointer;
        }
    }
}

.results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 100%;
}

.card {
    &.dog {
        .card-top {
            background: #E3EADF;
        }
    }

    &.cat {
        .card-top {
            background: #F9E3D2;
        }
    }
}




.gender {
    padding: 0.5rem 1rem;
    border-radius: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 11px;

    &.male {
        background: #D9E2F5;
        color: #3A78E0;
    }

    &.female {
        background: #FFD1E7;
        color: #F364A9;
    }

    &.non {
        background: #dddddd;
        color: #303030;
    }

}

@keyframes animatename{
    0%{
      transform: translateY(-9px);
    }
    100%{
        transform: translateY(1px);
    }
  }

.filter {
    background-color: white;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    height: 0%;
    &.active {
        animation: animatename .2s linear;
        height: 100%;
    }
    .filter-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:1rem 2rem 0 2rem;
        h3 {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            color: #31334E;
        }

        .cancel-filter {
            background-color: transparent;
            border: none;
            font-weight: 400;
            font-size: 20px;
            color: #31334E;
        }
    }
    form {
        .filter-selectors {
            padding:1rem 2rem;
            .row {
                display: flex;
                flex-direction: column;
                input, select {
                    background: #EBEAEF;
                    border-radius: 5px;
                    width: 100%;
                    border: none;
                    padding: 1rem;
                    margin-bottom: 1rem;
                    font-weight: 600;
                    font-size: 15px;
                    color: #000000;
                }
            }
        }
        button {
            background: #31334E;
            width: 100%;
            border: none;
            padding: 1rem;
            font-weight: 400;
            font-size: 15px;
            color: #FFFFFF;
            cursor: pointer;
        }
    }
}
