.body {
    height: 90vh;
    background: var(--bg-secondary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 5px 16px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 38px 38px;
    overflow: scroll;
}

main {
    padding: var(--gap);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    .top {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: end;
    }
}

form.main {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 4rem 3rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 3rem;
    margin-bottom: 2rem;
}

.show {
    width: 5rem;
    height: 5rem;
    text-align: center;
    background-color: black;
    color: wheat;
}

.row {
    margin-bottom: 2rem;

    input {
        width: 100%;
        padding: 0.5rem 1rem;
        border: 1px solid #323958;
        box-sizing: border-box;
        border-radius: 5px;
        font-family: var(--ff-primary);
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: #323958;

        &.error {
            border: 1px solid crimson;
        }
    }
}


.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        font-style: normal;
        text-decoration: none;
        font-weight: 300;
        font-size: 10px;
        margin-left: 1rem;
        color: #323958;
    }

    button {
        background: #323958;
        border-radius: 5px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: #FFFFFF;
        padding: .5rem 3rem;
        border: none;
    }
}

.dont-have {
    font-family: var(--ff-primary);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #323958;
    text-decoration: none;
    margin: auto;
}
