/*---------
    main
    ----------*/

main {
    padding: calc(var(--padding-layout) - 1rem);
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    justify-content: space-between;
    padding: 1rem;
    border-radius: 25px;
    min-height: 100%;
    padding-bottom: 4rem;

    .image {
        position: relative;
        width: 100%;
        background: #F9E3D2;
        border-radius: 15px;

        .back {
            position: absolute;
            top: 1rem;
            left: 1rem;
        }

        .pic {
            width: 100%;
        }
    }

    .details {
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;

        h2 {
            font-family: Archivo;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            letter-spacing: 0.135em;
            color: #000000;
            mix-blend-mode: normal;
        }

        h3 {
            font-family: Josefin Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            letter-spacing: 0.135em;
            color: #000000;
            mix-blend-mode: normal;
        }

        h4 {
            font-family: Archivo;
            font-style: normal;
            font-weight: normal;
            font-size: 11px;
            letter-spacing: 0.08em;
            color: #000000;
        }

        .bio {
            font-family: Archivo;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            letter-spacing: 0.08em;
            color: #000000;
        }

        .contact {
            font-family: Josefin Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 9px;
            color: #000000;
            display: flex;
            align-items: center;

        }
    }

    .bubbles {
        display: flex;
        justify-content: space-between;

        span {
            padding: 0.5em 2em;
            border-radius: 5px;
            font-family: Archivo;
            font-style: normal;
            font-weight: normal;
            font-size: 11px;
        }

        .age, .weight,.color {
            background: #000000;
            color: #FFFFFF;
        }

        .gender {
            background: #D9E2F5;
            color: #3A78E0;
        }
    }

    .actions {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .message {
            display: flex;
            gap: 0.5rem;

            img {
                filter: invert(100%) ;
            }

            button {
                padding: 1rem;
                border: none;
                background: #333A5A;
                border-radius: 5px;
                font-style: normal;
                font-weight: normal;
                font-size: 9px;
                color: #FFFFFF;

                &:last-of-type {
                    padding: 1rem 3rem;
                }

            }
        }
    }
}

.pet-container {
    background-color: white;
    border-radius: 15px;
    padding: 5px;
}
