@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
    --ff-primary: 'Lato', sans-serif;
    --ff-secondary: 'Lato', sans-serif;
    --padding-layout: 2rem;
    --gap: 3rem;
    --bg-primary: #333A5A;
    --bg-secondary: #EBEAEF;
    --bg-third: #fff;
    --color-primary: #000;
    --color-secondary: #fff;

}


html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: var(--ff-primary);
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, span, p, body {
    margin: 0;
    padding: 0;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    background: var(--bg-primary);
    border-radius: 38px;
}

body::-webkit-scrollbar,
.body::-webkit-scrollbar {
    display: none;
}
/* width */
.selector::-webkit-scrollbar {
    height:  5px;
}

/* Track */
.selector::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(206, 206, 206);
    border-radius: 10px;
}

/* Handle */
.selector::-webkit-scrollbar-thumb {
    background: #333A5A;
    border-radius: 10px;
}

/* Handle on hover */
.selector::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: #1d223a;
}


.body {
    background: var(--bg-secondary);
    /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 5px 16px rgba(0, 0, 0, 0.25);*/
    border-radius: 0 0 38px 38px;
    overflow: scroll;
}

.menu {
    height: 10vh;
}

/*---------
    Header
    ----------*/
header {
    display: flex;
    flex-direction: column;
    padding: var(--padding-layout);

    &.active {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        transform: 0.5s;
    }

    h1 {
        font-style: normal;
        font-weight: 500;
        font-size: 3rem;
        width: 20rem;
        margin: 1rem 0;
        color: var(--color-primary);
    }

    .title {
        &.active {
            display: none;
        }
    }

    .search  {
        &.active {
            width: 80%;
        }

        .formHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 1.5rem;
            background: var(--bg-third);
            border-radius: 11px;

            input {
                border: none;
                flex: auto;
                font-style: normal;
                font-weight: normal;
                font-size: 1.5rem;
                color: #8F8989;

                &:focus {
                    outline: none;
                }
            }

            button {
                display: flex;
                cursor: pointer;
                background-color: transparent;
                border: none;
                padding: 0;
            }
        }
    }

}
/*---- end header ---*/

/*-------
    Dots
    -------*/
.dotted-line {
    display: inline-block;
    width: 100%;
    border-bottom: 2px dashed var(--bg-primary);
}
/*---- end dots ---*/

/*---------
    selector
    ----------*/
.selector {
    margin-top: var(--gap);
    display: flex;
    overflow-x: scroll;
    padding-bottom: 1rem;

    .item {
        &:hover {
            background: #333a5a30;
            transition: 0.2s;
            cursor: pointer;
        }
        &.active {
            background-color: #1c234030;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        margin: 0 1.5rem;
        padding: 1rem 4rem;
        border-radius: 15px;
        background-color: var(--color-secondary);
        font-style: normal;
        font-weight: 600;
        font-size: 1.5rem;
        color: #000000;
        text-decoration: none;
        color: inherit;
        text-align: center;
    }

}
/*---- end selector ---*/


/*---------
    main
    ----------*/
main {
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .top {
        width: 100%;
        display: flex;
        margin-bottom: 1rem;
        justify-content: space-between;
        align-items: center;

        h5 {
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            color: #31334E;
        }

        .filter {
            font-style: normal;
            font-weight: 600;
            font-size: 30px;

            color: #000000;
        }
    }
}





/*---------
    menu
    ----------*/
.empty-space {
    height: 12vh;
}

.menu {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 999;
    background-color: var(--bg-primary);
    width: 100%;
    border-radius: 15px 15px 0 0;
    box-shadow: 0px -2px 2px rgb(0 0 0 / 25%), 0px -4px 4px rgb(0 0 0 / 25%);

    .container {
        display: flex;
        justify-content: space-between;
        padding: 3rem var(--gap);

        width: 100%;
    }
}
/*---- end menu ---*/



/*---------
    Opener animation
    ----------------*/
.animation-opener {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(97, 97, 97, 0.5);
    backdrop-filter: blur(5px);
    animation: fadeOpener 0.7s 0.8s cubic-bezier(0.39, -0.15, 0, 1.63) forwards;
    display: block;

    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 1000%);
        img {
            transform: scale(2);
        }
        animation: slideLogo 0.7s cubic-bezier(0.39, -0.15, 0, 1.63) forwards,
                scaleLogo 0.7s 0.65s cubic-bezier(0.39, -0.15, 0, 1.63) forwards;
    }
}

@keyframes slideLogo {
    from {
        transform: translate(-50%, 1000%);
    }
    to {
        transform: translate(-50%, -60%);
    }
}

@keyframes scaleLogo {
    from {
        transform: translate(-50%, -60%) scale(1.1);
    }
    to {
        transform: translate(-50%, -60%) scale(0.1);
    }
}

@keyframes fadeOpener {
    0% {
        opacity: 100%;
    }
    90% {
        opacity: 0%;
    }
    100% {
        opacity: 0%;
        z-index: -9999;
    }
}
